/* You can add custom styles here. */

.overpass-italcs {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 120;
  font-style: italic;
}


footer.footer .nav-footer, #quarto-header>nav {
  padding-left: 10%;
  padding-right:1em;
}
/*from bootstrap.min.css*/

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 3px solid #eb6f92 !important;
  color:#eb6f92 !important
}

.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
  color: #eb6f92 !important;
}

/* styles.css */
.icon-row {
    display: flex; /* Align icons in a row */
    justify-content: center; /* Center the icons */
    gap: 30px; /* Space between icons */
}

.icon {
    text-decoration: none; /* Remove underline from links */
    color: #575279 ; /* Default icon color */
    font-size: 50px; /* Size of the icons */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icon:hover {
    color: #9ccfd8 ; /* Change color on hover */
}

.icon i {
    pointer-events: none; /* Prevent icon from breaking the link click */
}

.icon .label {
    margin-left: 10px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2); /* Scale the icon and label */
}

.icon:hover .label {
    transform: scale(1.2); /* Scale the label on hover */
}

.ghost-button {
    background-color: transparent;
    color: #575279;
    border: 2px solid #575279 ;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.ghost-button:hover {
    background-color: #575279 ;
    color: #fff;
    border-color: #575279 ;
}

.ghost-button-link {
    text-decoration: none;
}

.content-block {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #fff;
  color: #302e39;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
 
.navbar { 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

