
/*-- scss:uses --*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

/*-- scss:defaults --*/

$rp-main-base: #191724;
$rp-main-base-rgb: rgb(25, 23, 36);
$rp-main-base-hsl: hsl(249, 22%, 12%);
$rp-main-surface: #1f1d2e;
$rp-main-surface-rgb: rgb(31, 29, 46);
$rp-main-surface-hsl: hsl(247, 23%, 15%);
$rp-main-overlay: #26233a;
$rp-main-overlay-rgb: rgb(38, 35, 58);
$rp-main-overlay-hsl: hsl(248, 25%, 18%);
$rp-main-muted: #6e6a86;
$rp-main-muted-rgb: rgb(110, 106, 134);
$rp-main-muted-hsl: hsl(249, 12%, 47%);
$rp-main-subtle: #908caa;
$rp-main-subtle-rgb: rgb(144, 140, 170);
$rp-main-subtle-hsl: hsl(248, 15%, 61%);
$rp-main-text: #e0def4;
$rp-main-text-rgb: rgb(224, 222, 244);
$rp-main-text-hsl: hsl(245, 50%, 91%);
$rp-main-love: #eb6f92;
$rp-main-love-rgb: rgb(235, 111, 146);
$rp-main-love-hsl: hsl(343, 76%, 68%);
$rp-main-gold: #f6c177;
$rp-main-gold-rgb: rgb(246, 193, 119);
$rp-main-gold-hsl: hsl(35, 88%, 72%);
$rp-main-rose: #ebbcba;
$rp-main-rose-rgb: rgb(235, 188, 186);
$rp-main-rose-hsl: hsl(2, 55%, 83%);
$rp-main-pine: #31748f;
$rp-main-pine-rgb: rgb(49, 116, 143);
$rp-main-pine-hsl: hsl(197, 49%, 38%);
$rp-main-foam: #9ccfd8;
$rp-main-foam-rgb: rgb(156, 207, 216);
$rp-main-foam-hsl: hsl(189, 43%, 73%);
$rp-main-iris: #c4a7e7;
$rp-main-iris-rgb: rgb(196, 167, 231);
$rp-main-iris-hsl: hsl(267, 57%, 78%);

$rp-main-highlight-low: #21202e;
$rp-main-highlight-low-rgb: rgb(33, 32, 46);
$rp-main-highlight-low-hsl: hsl(244, 18%, 15%);
$rp-main-highlight-low-alpha: #6e6a861a;
$rp-main-highlight-low-alpha-rgb: rgba(110, 106, 134, 0.1);
$rp-main-highlight-low-alpha-hsl: hsla(249, 12%, 47%, 0.1);
$rp-main-highlight-med: #403d52;
$rp-main-highlight-med-rgb: rgb(64, 61, 82);
$rp-main-highlight-med-hsl: hsl(249, 15%, 28%);
$rp-main-highlight-med-alpha: #6e6a8633;
$rp-main-highlight-med-alpha-rgb: rgba(110, 106, 134, 0.2);
$rp-main-highlight-med-alpha-hsl: hsla(249, 12%, 47%, 0.2);
$rp-main-highlight-high: #524f67;
$rp-main-highlight-high-rgb: rgb(82, 79, 103);
$rp-main-highlight-high-hsl: hsl(248, 13%, 36%);
$rp-main-highlight-high-alpha: #6e6a8666;
$rp-main-highlight-high-alpha-rgb: rgba(110, 106, 134, 0.4);
$rp-main-highlight-high-alpha-hsl: hsla(249, 12%, 47%, 0.4);

$rp-moon-base: #232136;
$rp-moon-base-rgb: rgb(35, 33, 54);
$rp-moon-base-hsl: hsl(246, 24%, 17%);
$rp-moon-surface: #2a273f;
$rp-moon-surface-rgb: rgb(42, 39, 63);
$rp-moon-surface-hsl: hsl(248, 24%, 20%);
$rp-moon-overlay: #393552;
$rp-moon-overlay-rgb: rgb(57, 53, 82);
$rp-moon-overlay-hsl: hsl(248, 21%, 26%);
$rp-moon-muted: #6e6a86;
$rp-moon-muted-rgb: rgb(110, 106, 134);
$rp-moon-muted-hsl: hsl(249, 12%, 47%);
$rp-moon-subtle: #908caa;
$rp-moon-subtle-rgb: rgb(144, 140, 170);
$rp-moon-subtle-hsl: hsl(248, 15%, 61%);
$rp-moon-text: #e0def4;
$rp-moon-text-rgb: rgb(224, 222, 244);
$rp-moon-text-hsl: hsl(245, 50%, 91%);
$rp-moon-love: #eb6f92;
$rp-moon-love-rgb: rgb(235, 111, 146);
$rp-moon-love-hsl: hsl(343, 76%, 68%);
$rp-moon-gold: #f6c177;
$rp-moon-gold-rgb: rgb(246, 193, 119);
$rp-moon-gold-hsl: hsl(35, 88%, 72%);
$rp-moon-rose: #ea9a97;
$rp-moon-rose-rgb: rgb(234, 154, 151);
$rp-moon-rose-hsl: hsl(2, 66%, 75%);
$rp-moon-pine: #3e8fb0;
$rp-moon-pine-rgb: rgb(62, 143, 176);
$rp-moon-pine-hsl: hsl(197, 48%, 47%);
$rp-moon-foam: #9ccfd8;
$rp-moon-foam-rgb: rgb(156, 207, 216);
$rp-moon-foam-hsl: hsl(189, 43%, 73%);
$rp-moon-iris: #c4a7e7;
$rp-moon-iris-rgb: rgb(196, 167, 231);
$rp-moon-iris-hsl: hsl(267, 57%, 78%);

$rp-moon-highlight-low: #2a283e;
$rp-moon-highlight-low-rgb: rgb(42, 40, 62);
$rp-moon-highlight-low-hsl: hsl(245, 22%, 20%);
$rp-moon-highlight-low-alpha: #817c9c14;
$rp-moon-highlight-low-alpha-rgb: rgba(129, 124, 156, 0.08);
$rp-moon-highlight-low-alpha-hsl: hsla(249, 14%, 55%, 0.08);
$rp-moon-highlight-med: #44415a;
$rp-moon-highlight-med-rgb: rgb(68, 65, 90);
$rp-moon-highlight-med-hsl: hsl(247, 16%, 30%);
$rp-moon-highlight-med-alpha: #817c9c26;
$rp-moon-highlight-med-alpha-rgb: rgba(129, 124, 156, 0.15);
$rp-moon-highlight-med-alpha-hsl: hsla(249, 14%, 55%, 0.15);
$rp-moon-highlight-high: #56526e;
$rp-moon-highlight-high-rgb: rgb(86, 82, 110);
$rp-moon-highlight-high-hsl: hsl(249, 15%, 38%);
$rp-moon-highlight-high-alpha: #817c9c4d;
$rp-moon-highlight-high-alpha-rgb: rgba(129, 124, 156, 0.3);
$rp-moon-highlight-high-alpha-hsl: hsla(249, 14%, 55%, 0.3);

$rp-dawn-base: #fffafa ; //#faf4ed;
$rp-dawn-base-rgb: rgb(250, 244, 237);
$rp-dawn-base-hsl: hsl(32, 57%, 95%);
$rp-dawn-surface: #fffaf3;
$rp-dawn-surface-rgb: rgb(255, 250, 243);
$rp-dawn-surface-hsl: hsl(35, 100%, 98%);
$rp-dawn-overlay: #f2e9e1;
$rp-dawn-overlay-rgb: rgb(242, 233, 222);
$rp-dawn-overlay-hsl: hsl(33, 43%, 91%);
$rp-dawn-muted: #9893a5;
$rp-dawn-muted-rgb: rgb(152, 147, 165);
$rp-dawn-muted-hsl: hsl(257, 9%, 61%);
$rp-dawn-subtle: #797593;
$rp-dawn-subtle-rgb: rgb(121, 117, 147);
$rp-dawn-subtle-hsl: hsl(248, 12%, 52%);
$rp-dawn-text: #575279;
$rp-dawn-text-rgb: rgb(87, 82, 121);
$rp-dawn-text-hsl: hsl(248, 19%, 40%);
$rp-dawn-love: #b4637a;
$rp-dawn-love-rgb: rgb(180, 99, 122);
$rp-dawn-love-hsl: hsl(343, 35%, 55%);
$rp-dawn-gold: #ea9d34;
$rp-dawn-gold-rgb: rgb(234, 157, 52);
$rp-dawn-gold-hsl: hsl(35, 81%, 56%);
$rp-dawn-rose: #d7827e;
$rp-dawn-rose-rgb: rgb(215, 130, 126);
$rp-dawn-rose-hsl: hsl(3, 53%, 67%);
$rp-dawn-pine: #286983;
$rp-dawn-pine-rgb: rgb(40, 105, 131);
$rp-dawn-pine-hsl: hsl(197, 53%, 34%);
$rp-dawn-foam: #56949f;
$rp-dawn-foam-rgb: rgb(86, 148, 159);
$rp-dawn-foam-hsl: hsl(189, 30%, 48%);
$rp-dawn-iris: #907aa9;
$rp-dawn-iris-rgb: rgb(144, 122, 169);
$rp-dawn-iris-hsl: hsl(268, 21%, 57%);

$rp-dawn-highlight-low: #f4ede8;
$rp-dawn-highlight-low-rgb: rgb(244, 237, 232);
$rp-dawn-highlight-low-hsl: hsl(25, 35%, 93%);
$rp-dawn-highlight-low-alpha: #6e6a860d;
$rp-dawn-highlight-low-alpha-rgb: rgba(110, 106, 134, 0.05);
$rp-dawn-highlight-low-alpha-hsl: hsla(249, 12%, 47%, 0.05);
$rp-dawn-highlight-med: #dfdad9;
$rp-dawn-highlight-med-rgb: rgb(223, 218, 217);
$rp-dawn-highlight-med-hsl: hsl(10, 9%, 86%);
$rp-dawn-highlight-med-alpha: #6e6a8614;
$rp-dawn-highlight-med-alpha-rgb: rgba(110, 106, 134, 0.08);
$rp-dawn-highlight-med-alpha-hsl: hsla(249, 12%, 47%, 0.08);
$rp-dawn-highlight-high: #cecacd;
$rp-dawn-highlight-high-rgb: rgb(206, 202, 205);
$rp-dawn-highlight-high-hsl: hsl(315, 4%, 80%);
$rp-dawn-highlight-high-alpha: #6e6a8626;
$rp-dawn-highlight-high-alpha-rgb: rgba(110, 106, 134, 0.15);
$rp-dawn-highlight-high-alpha-hsl: hsla(249, 12%, 47%, 0.15);

$rp-light-blue: #c4e2e2;
$rp-extra-gold: #fadb6a;


// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5 !default;



$font-family-sans-serif: "Overpass" !default;
$font-family-monospace: "Overpass Monospace" !default;
$font-size-root: 1.2em;
$toc-font-size: 1em;

$font-family_1: "Overpass", sans-serif;
overpass-italcs {
	font-family: $font-family_1;
	font-optical-sizing: auto;
	font-weight: 120;
	font-style: italic;
}




// Base document colors
$body-bg: $rp-dawn-base; 
$body-color: $rp-main-base; 
$link-color: $rp-moon-pine; 
$body-h1: $rp-main-surface; 
$popover-bg: $rp-dawn-surface; 


// Navigation element colors
$footer-bg: $rp-dawn-base;
$footer-fg: $rp-main-highlight-high; //$rp-moon-highlight-med;
$footer-font-size: 1.3em;

$navbar-bg: $rp-dawn-base;
$navbar-fg: $rp-dawn-subtle; 
$navbar-hl: $rp-main-highlight-low;

$toc-bg: $rp-dawn-base;
$toc-color: $rp-main-love; 
$toc-active-border: $rp-main-highlight-low;
$toc-inactive-border: transparent;



// Code blocks
$code-block-bg-alpha: -.8;
$code-block-bg: $rp-moon-highlight-med;
$code-block-color: $rp-dawn-surface;
$btn-code-copy-color: $rp-moon-highlight-low-alpha;




// Side bar
$grid-sidebar-width: 350px !default;


// inline code
$code-bg: $rp-dawn-subtle;
$code-color: $rp-dawn-base;
$code-padding: 0.5em;

// content padding
$content-padding-top: 7rem;
$sidebar-padding-top: 5rem;

// callout colors

$callout-color-note: $rp-light-blue;
$callout-color-tip: $rp-moon-foam;
$callout-color-caution: $rp-dawn-gold;
$callout-color-warning: $rp-extra-gold;
$callout-color-important: $rp-dawn-love;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;

/*-- scss:rules --*/
/*-- scss:mixins --*/
/*-- scss:functions --*/


